.faq {
  background: #2f2f2f;
  height: 100%;
  padding: 1.7rem 2.5rem;
  padding-bottom: 11.5rem;

  &__title {
    margin-bottom: 3rem;
  }

  &__container {
    display: grid;
    gap: 1.1rem;
  }

  &__text {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;

    .red {
      background: #f40000;
    }
  }
}
