@use "./../../assets/styles/typography";
@use "./../../assets/styles/mixins";

.button {
  appearance: none;
  padding: 0;
  -webkit-appearance: none;

  $selector: &;

  @include mixins.font(typography.$font-h4);

  background: transparent;
  border: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  width: stretch;
  display: block;

  &:not(#{$selector}_clear) {
    font-family: var(--als-bot-font-wide);
    padding: 1.4rem;
    border-radius: 1rem;
    text-decoration: none;
  }

  &_clear {
    display: flex;
    text-align: inherit;
    text-decoration: none;
  }

  &_primary {
    background: #fff;
    color: #0f0e1a;
  }

  &_secondary {
    text-align: left;
    background: rgba(255 255 255 / 30%);
    color: #fff;
  }
}
