@use "./../../assets/styles/typography";
@use "./../../assets/styles/mixins";

.text {
  $selector: &;

  &__title {
    font-family: var(--als-bot-font-wide);

    @include mixins.font(typography.$font-h4);

    & + #{$selector}__paragraph {
      margin-top: 0.2rem;
    }

    &_h2 {
      @include mixins.font(typography.$font-h2);
    }

    &_h3 {
      @include mixins.font(typography.$font-h3);
    }

    &_h4 {
      @include mixins.font(typography.$font-h4);

      & + #{$selector}__paragraph_caption {
        margin-top: 1rem;
      }
    }
  }

  &__paragraph {
    &_caption {
      @include mixins.font(typography.$font-caption);
    }
  }
}
