@use "./../../assets/styles/typography";
@use "./../../assets/styles/mixins";

.navigation-tabs {
  margin: 1.5rem 0;

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
    scroll-margin: 1rem;
  }

  ul {
    display: flex;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    padding: 0 1rem;
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__button {
    @include mixins.font(typography.$font-body);

    --color-tab: #fff;

    font-weight: 900;
    font-family: var(--als-bot-font-exapnded);
    background: transparent;
    border-radius: 1.5rem;
    color: #fff;
    border: 1px solid var(--color-tab);
    padding: 1rem 1.2rem;
    white-space: nowrap;

    &_active {
      background: var(--color-tab);
      color: #1e1e1e;
    }

    &_edanapitki {
      --color-tab: #ff7900;
      color: #fff;
    }

    &_alcohol {
      --color-tab: #007aff;
      color: #fff;
    }

    &_fun {
      --color-tab: #cb0df6;
      color: #fff;
    }

    &_other {
      --color-tab: #7ac3ff;
      color: #fff;
    }
  }
}
