.afisha {
  $selector: &;

  background-color: #f40000;
  padding: 1.7rem 2.6rem;
  height: 100%;

  &__title {
    margin-bottom: 3.2rem;
  }

  &__item-title {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: currentColor;
    line-height: 100%;
    letter-spacing: -0.1rem;
  }

  &__item-time {
    > div {
      display: inline-block;
      margin-right: 0.6rem;
    }
  }

  &__item-label {
    border: 1px solid #fff;
    display: inline-block;
    padding: 0.85rem 0.8rem 0.95rem 0.8rem;
    border-radius: 1rem;
    vertical-align: super;
  }

  &__button.button {
    background: #007aff;
    border-radius: 3.2rem;
    color: #fff;
    padding: 0.85rem 1.5rem;
    position: absolute;
    bottom: 1.8rem;
    right: 0.8rem;
    left: auto;
    width: fit-content !important;

    * {
      font-weight: 500;
    }
  }

  &__item {
    display: block !important;
    margin-top: 1.5rem;
    position: relative;

    &_past {
      opacity: 0.6;
    }

    img {
      aspect-ratio: 1;
      border-radius: 1rem;
      overflow: hidden;
      display: block;
      width: 100%;
      margin-top: 0.9rem;
    }

    &:not(:last-child)::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      opacity: 0.3;
      background: #fff;
      margin-top: 0.9rem;
    }

    &_no-image {
      #{$selector}__item-title > div {
        text-transform: uppercase;
      }
    }
  }
}
