@use "./../../assets/styles/typography";
@use "./../../assets/styles/mixins";

.tumbler {
  box-shadow: 0px 9px 6.8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3rem;
  background: #fff;
  padding: 0.5rem;
  min-width: 135.8px;

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    position: relative;
    z-index: 1;
  }

  ul {
    display: flex;
    position: relative;
  }

  &__button.button {
    @include mixins.font(typography.$font-caption);

    color: #000;
    font-weight: 600;
    line-height: 1.7rem;
    padding: 1rem;
    border-radius: 2rem;
  }

  &__pillow {
    background: rgba(0 0 0 / 10%);
    border-radius: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
