.onboarding {
  background: #0f0e1a;
  height: 100%;

  &__text {
    text-align: center;
    width: 320px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 7.2rem;
    padding: 0 1.5rem;
  }

  &__button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1.5rem;
    margin-bottom: 3.8rem;
  }
}
