.map {
  background: #1d1d1d;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__wrapper {
    background: rgba(255, 255, 255, 0.1);
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    flex-shrink: 0;

    svg {
      image-rendering: auto;
      transform: translate3d(0, 0, 0);
      will-change: transform;
    }
  }

  &__floor-tumbler {
    position: fixed;
    right: 2rem;
    bottom: 4rem;
  }
}
