@use "typography";
@use "mixins";

* {
  box-sizing: border-box;
}

:root {
  --als-bot-font-regular: "ALS Hauss Next", Arial, Helvetica, sans-serif;
  --als-bot-font-wide: "ALS Hauss Next Wide", Arial, Helvetica, sans-serif;
}

body,
html {
  font-family: var(--als-bot-font-regular);
  height: 100vh;
}

body {
  @include mixins.font(typography.$font-body);

  -webkit-overflow-scrolling: auto;
  background: var(--tg-theme-header-bg-color, transparent);
  font-weight: 400;
  height: 100%;
  line-height: inherit;
  margin: 0;
  overflow: hidden;
  color: #fff;
}

html {
  font-size: 62.5%;
  height: 100%;
  text-size-adjust: 100%;
}

.mobile-body {
  overflow: hidden;
  height: 100vh;
}

.mobile-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.mobile-content {
  height: calc(100% + 1px);
}

#wrap,
#content,
#content > div,
main {
  height: 100%;
}

.clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.page {
  border-radius: 2rem 2rem 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100%;
}
