body {
  background: var(--tg-theme-secondary-bg-color, white);
  font-family: "ALS Hauss Next";
}

.mobile-body {
  overflow: hidden;
  height: 100vh;
}

.mobile-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.mobile-content {
  height: calc(100% + 1px);
}
